body{
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/notepad-3297994.jpg");
    font-family: 'Arvo',serif;
    font-size: 15px;
}

.footer{
    position: absolute;
    bottom:0;
    text-align: center;
    width:100%;
    padding-top:8px;
    background-color: #bd7af2;
}
.btn-secondary{
    background-color: white;
}

.navbar-custom {
  background-color: #bd7af2;
  border-color: #ae5cef;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d4a8f7), to(#bd7af2));
  background-image: -webkit-linear-gradient(top, #d4a8f7, 0%, #bd7af2, 100%);
  background-image: -moz-linear-gradient(top, #d4a8f7 0%, #bd7af2 100%);
  background-image: linear-gradient(to bottom, #d4a8f7 0%, #bd7af2 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd4a8f7', endColorstr='#ffbd7af2', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #ae5cef;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  border-left: 1px solid #ae5cef;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #ae5cef;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ae5cef), to(#c58af4));
  background-image: -webkit-linear-gradient(top, #ae5cef, 0%, #c58af4, 100%);
  background-image: -moz-linear-gradient(top, #ae5cef 0%, #c58af4 100%);
  background-image: linear-gradient(to bottom, #ae5cef 0%, #c58af4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffae5cef', endColorstr='#ffc58af4', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color:white;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #ad59ef;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: white;
  border-bottom-color: white;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #ae5cef;
  color: white;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: white;
  border-bottom-color: white;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: white;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: white;
    background-color: #ae5cef;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: white;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: white;
}